@tailwind components;
@tailwind utilities;

/* Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .animate-gradient-xy {
    animation: gradient-xy 15s ease infinite;
    background-size: 400% 400%;
  }

  .min-h-screen-safe {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .h-screen-safe {
    height: 100vh;
    height: 100dvh;
  }
}